* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    /* font-family: monospace;
            font-size: large; */
}

body {
    background-color: #393E46;

}

/* Navigation Bar */
.navbar {
    display: flex;
    background-color: #222831;
    justify-content: space-between;
    padding: 20px;
   
    font-weight: bold;
    

}

.navlist {
    display: flex;
    gap: 30px;
    list-style: none;
}

.logo {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.title {
    display: inline-block;
    font-size: 35px;
    position: absolute;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Body */
.container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    flex-direction: column;
    gap: 15px;
    /* background-color: rgba(219, 219, 161, 0.667); */
    background-color: #948979;
    /* color: white; */
    color: black;
    border-radius: 20px;
    border: 4px solid black;
}

.container p a {
    color: blue;
}

/* Form */
form {
    height: 600px;
    display: flex;

}

.menu {
    display: flex;
    padding: 14px;
    gap: 24px;
}

label {
    display: block;
    margin: 10px;
    font-weight: bold;
}

input {
    padding: 9px;
    width: 250px;
}

button {
    padding: 7px;
    border-radius: 20px;
    margin-top: 22px;
    width: 200px;
    background-color: rgba(82, 82, 155, 0.96);
    color: beige;
    cursor: pointer;
}

h2 {
    margin-bottom: 40px;
    font-size: xx-large;
}

.category {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
}

