* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.navbar {
    display: flex;
    background-color: rgba(42, 238, 81, 0.659);
    justify-content: space-between;
    padding: 20px;
    /* font-size:large; */
    font-weight: bold;
    /* position: sticky; */

}

.navlist {
    /* position: sticky; */
    display: flex;
    gap: 30px;
    list-style: none;

}

.logo {
    /* display:inline; */
    margin-left: 10px;


}
.menu{
    display: flex;
    flex-direction: row;
}

/* ACCOUNT DROPDOWN */
.acc {
    position: relative;
    z-index: 2000;
    
}

.acc-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    min-width: 150px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 0;
    z-index: 3000;
}

.acc:hover .acc-dropdown {
    display: block;
}

.acc-dropdown a {
    display: block;
    padding: 12px 20px;
    color: black;
}

.acc-dropdown a:hover {
    background-color: rgba(42, 238, 81, 0.3);
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

.container {

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(219, 219, 161, 0.667);
    border-radius: 30px;
    border: 4px solid black;

}

form {
    height: 600px;
    display: flex;

}

label {
    display: block;
    margin: 10px;
    font-weight: bold;
}

input {
    padding: 9px;
    width: 250px;
}

button {
    padding: 7px;
    border-radius: 20px;
    margin-top: 22px;
    width: 200px;
    background-color: rgba(82, 82, 155, 0.96);
    color: beige;
}

h2 {
    margin-bottom: 40px;
    font-size: xx-large;
}

.category {
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
}

.list {
    padding: 10px;
    font-size: large;
}

.dropdown li {
    display: none;

}

.dropdown:hover ul {
    display: block;
    position: absolute;
    background-color: aqua;
}

.dropdown:hover  ul {
    display: block;
    margin: 10px;
}

ul {
    list-style: none;
}