* {
    margin: 0;
    padding: 0;
    /* font-family: monospace;
            font-size: large; */
    font-family: "Roboto Slab", serif;
}

body {
    background-color: #393E46;
}

/* Logo And Title */
.title {
    display: inline-block;
    /* font-size: 35px; */
    position: absolute;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: row; */

}
/* SideBar */
.sidebar {
    display: inline-block;
    /* background-color: #7c7575; */
    height: 100vh;
    background-color: #222831;
    width: 240px;
    position: fixed;
}

.dash {
    /* background:  white; */
    /* background: #f38965;  */
    margin: 10px;
    padding: 10px;
    height: 80px;
    /* justify-items: center; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: x-large;
    font-weight: 600;

}

/* .username {
    font-size: small;

} */

.navbar {
    width: 250px;

}

ul {
    /* display: flex; */
    /* flex-direction: column; */
    list-style: none;
    margin: 10px;
    padding: 10px;
    /* width: 250px; */
    /* width: 100%; */
}

li {
    padding: 10px;
    margin: 10px;
    /* width: 250px; */
    /* width: 100%; */
    /* background-color: azure;*/
    /* border-bottom: 1px dotted white; */

}

a {
    color: white;
    width: 200px;
    padding: 10px;
    text-decoration: none;
}

li:hover {
    border-bottom: 1px dotted white;
    transition: 0.2s;
    transform: scale(1.1);
}
/* Account Status */
.sesions {
    /* display: flex;
    flex-direction: ; */
    position: relative;
   left: 230px;
   margin: 30px;
   /* width: 100%; */
   width: 80%;
   
   
}
.acc-info{
    border: 1px solid white;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}


.total {
    border: solid 1px white;
    height: 70px;
    /* width: 200px; */
    width: 45%;
    margin: 15px;
    /* margin-left: 29%; */
    display: inline-block;
    color: white;
    align-content: center;
    border-radius: 5px;
}
.total p{
    
    font-size: large;
}
p{
    margin: 20px;
}
/* .count{
    position:relative;
    /* margin: auto; */


/* .ctotal {
    margin: 30px;
    display: inline-block;
    border: solid 1px white;
    height: 200px;
    width: 200px;
} */